<div class = "container w-70">
	<table class = "table table-gray" id="table">
		<thead>
			<th>No.</th>
			<th>Full name</th>
			<th>Age</th>
			<th>Phone number</th>
			<th>Price per half hour </th>
			<th>buttons</th>
			<!-- need to display only type of user 1 -->
			<tbody>

						<% for(let j = 0 ; j< providers.length ; j++){ %>
							<tr>
							<td> <%= j+1 %> </td>
							<td> <%= providers[j].fullname%> </td>
							<td> <%= providers[j].age%> </td>
							<td> <%= providers[j].phonenumber%> </td>
							<td> <%= (providers[j].price_per_hour) /2 %> </td>
							<!-- need to add class to buttons -->
							<td> 
								<button id="myBtn" type="submit" onclick='invitebtn()'> Invite</button> 
								<button id="myBtn1" type="submit" onclick='invitebtn()'> Message</button> 
								<button id="myBtn2" type="submit" onclick='profilebtn()'> Profile</button></td>
						
								<%- include('../partials/tableBtn'); %>
							</tr>
						<% }  %>
					</form>
				</tbody>
	


			<tbody id = "tbody1">
		
			</tbody>
		</thead>
	</table>
</div> 
<style>
	.tablee{
		background: rgba(185, 185, 185, 0.5);
		font-family: "Nunito" !important;
	}
	  .table-gray
	{
		width: 100%;
		border-collapse: collapse;
		margin-top: 10px;
		margin-bottom: 50px;
		border-radius: 100px !important;
	
	}
	.table-gray td, .table-grays th {
		border: 1px solid rgb(32, 30, 30);
		padding: 8px;
	}
	.table-gray th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #573b8a;
	color: white;
	}

</style>