<!-- script area city -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- causing body problem the link below -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<link rel="stylesheet" href="styling/index.css"></link>
	<style>
		.pcoded {
			display: none;
		}

        /* to center the address  */
        .mb-3{
            margin-left: auto;
            margin-right: auto;
        }

	</style>
</head>
<body class="container">




<main>
  <div class="jumbotron">
	<div id="content">
		<!-- <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
			<div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
		</nav> -->
		<h3 class="text-dark mb-0" style='font-weight: bolder; font-size: 30px;'>Enter your personal info</h3>
		</br>
		<div class="container">
			<div class="col text-center">
				<div class="card shadow mb-3">
					<div class="card-body text-center">
						<form id='enter-personal-info' action="/personalInfo_provider" method="post">
							<%- include('../partials/NamePhoneAgeEmail'); %>
                            <br>
						<div class='row'>
							<div class="mb-3" >
								<strong>Area/Cities</strong>
								<div class="mb-3 float-center" id="field"> 
									<select class="selectpicker" value='6' id='field' class="field" multiple data-live-search="true" name ="area_city" required>
										<option disabled>Area</option>
										<% for(var i = 0 ; i < 3 ; i++) { %>
											<option><%= areasCities[i] %></option>
										<% }; %>
										<option disabled>Cities</option>
										<% for(var i = 3 ; i < areasCities.length ; i++) { %>
											<option><%= areasCities[i] %></option>
										<% }; %>
									</select>
								</div>
						</div>
						</div>
						<br>

						<div class="row">	
							<%- include('../partials/slidebar'); %>

						</div>
						<br>
						<br>
						<div id="row">
							<div class="mb-3">
								<div class="col-md-6"><strong>Type of pets</strong><br>
									<select class="selectpicker" multiple data-live-search="true" id="field" name="typeP" required>
										<option disabled>Type of pets</option>
										<option id ='type_dog'>Dog</option>
										<option id ='type_dog'>Cat</option>
										<option id ='type_other'>Other pet</option>
									</select>
								</div>
							</div>
							
							
								<div class="mb-3">
									<label class="col-md-6"><strong>Type of service</strong><br>
									<select class="selectpicker" multiple data-live-search="true" id="field" name="typeS" required>
										<option disabled>Type of Service</option>
										<option  id='take_for_walk'>Take for a walk</option>
										<option  id='keep_at_home' >Keep at home</option>
									</select> 
								</div>
							
						
						</div>
				
					<br>
					<br>
					<br>

							<%- include('../partials/about_me'); %>
						</div>
					<button class="btn btn-primary btn-sm border rounded-pill float-end align-content-center" id='save' type="submit">Save</button>

				</form>
			</div>
			
		</div>
	</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<style>
	#save{
		width: 20%;
		height: 40px;
		margin: 10px auto;
		justify-content: center;
		display: block;
		color: #fff;
		background: #573b8a;
		font-size: 1em;
		font-weight: bold;
		margin-top: 20px;
		outline: none;
		border: none;
		border-radius: 5px;
		transition: .2s ease-in;
		cursor: pointer;
	}
	#save:hover{
		background: #6d44b8;

	}
	.dropdown-toggle::after {
		display: none;
	}

</style>