<!DOCTYPE html>
<html lang="en">
<!-- script area city -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="styling/portal.css"></link>

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styling/index.css"></link>

</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <form  id="search-form" action="filtering" method="post">
    <div id="header">
      <h1>Find your pets nanny</h1>
    </div>
    <section>
    <div class="searchT" id="searchbox">
       <!-- Area/City -->
        <div id="depart">
        <div class="info-box">
          <label for="">Area/City</label>
          <select class="selectpicker" id='area_city' multiple data-live-search="true" name ="area_city" >
              <option disabled>Area</option>
				<% for(var i = 0 ; i < areas.length ; i++) { %>
					<option><%= areas[i] %></option>
				<% }; %>
              <option disabled>Cities</option>
				<% for(var i = 0 ; i < cities.length ; i++) { %>
					<option><%= cities[i] %></option>
				<% }; %>
          </select>
        </div>
          
          <div class="info-box" id="arrive-box">
            <label for="">Price</label>

            <div class="jumbotron text-center disabledbutton" id='field_2' style='max-width: 60%;'>
              <!-- need to fix slidebar -->
              <%- include('../partials/rangebar'); %>
            </div>
          </div>
        </div>
            
        <!-- Type of pets-->
        <div id="dates">
        	<div class="info-box">
				<label for="">Type of pets</label>
				<select class="selectpicker" multiple data-live-search="true" name="typeP">
					<option disabled>Type of pets</option>
					<option id ='type_dog'>Dog</option>
					<option id ='type_dog'>Cat</option>
					<option id ='type_other'>Other pet</option>
				</select>
        	</div>
			<div class="info-box" id="return-box">
				<label for="">Type of Service</label>
				<select class="selectpicker" multiple data-live-search="true" name="typeS">
					<option disabled>Type of Service</option>
					<option  id='take_for_walk'>Take for a walk</option>
					<option  id='keep_at_home' >Keep at home</option>
				</select> 
			</div>
        </div>
        <!-- date from to -->

			<label style='margin-left: 8%; margin-top:3%;'>Date</label>
			<input type="date" id="date" name="date">

			<label>From</label>
			<select class="selectpicker" id="from" name="from">
			<% for(var i = 0 ; i < times.length ; i++) { %>
				<option><%= times[i] %></option>
			<% }; %>
			</select>
			<label>To</label>
			<select class="selectpicker" id="to" name="to">
			<% for(var i = 0 ; i < times.length ; i++) { %>
				<option><%= times[i] %></option>
			<% }; %>
			</select>

	</div>
    <button type="submit" onclick="myFunction()" class="search">SEARCH</button>
	</section>
   
    </form>
</main>
   
</main>
<section class="tablee">
<%- include('../partials/searchTable'); %>
</section>

</br>
</br>
</br>
</br>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>